{% extends 'crearMenu/base.html' %}
{% block title %}Nueva Receta{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4>Paso 1: Crear Receta (Instrucciones)</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end mt-3">
                        <a href="{% url 'crearMenu:lista_recetas' %}" class="btn btn-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar y Añadir Ingredientes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}