{% extends 'crearMenu/base.html' %}
{% block title %}Editar Categoría{% endblock %}
{% block content %}
<div class="container col-md-6 mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">Editar Categoría</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'crearMenu:lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}